.navbar {
  background: #000 !important;
}

.container-fluid img {
  width: 80px;
}

.w-30 {
  max-width: 300px !important;
  background: #000 !important;
}
.nav-item a {
  font-family: "Russo One", sans-serif !important;
  color: rgb(84, 185, 72) !important;
}

.h-sub-menu img {
  width: 300px !important;
  height: 300px !important;
}
.img-Ricardo {
  border: 3px solid rgb(84, 185, 72);
}
.sub-menu h3 {
  font-family: "Comforter Brush", cursive;
  color: rgb(84, 185, 72);
  font-size: 3rem !important;
}
.sub-menu p {
  font-family: "Russo One", sans-serif !important;
  font-size: 1rem;
  color: #fff;
}
.text-color {
  color: #dc3545 !important;
}
.icons-sub-menu i {
  color: #fff !important;
  font-size: 1.8rem;
}
.btn-cv {
  width: 100% !important;
  font-family: "Russo One", sans-serif !important;
}
.fondo-Animado {
  position: relative;
  width: 100%;
  background: url(../Img/FondoBat.jpg);

  background-blend-mode: multiply;
}
