.ricardo {
  font-family: "Comforter Brush", cursive;
  color: rgb(84, 185, 72);
  font-size: 3.2em;
}

.web-text {
  font-family: "Russo One", sans-serif;
}
.red {
  font-family: "Russo One", sans-serif;
}

.text-fff {
  color: #fff;
  font-family: "Russo One", sans-serif;
}
.btn-about {
  background: rgb(84, 185, 72) !important;
  border: 1px solid rgb(84, 185, 72) !important;
}
