/* Tengamos una charla, Me encantaría saber de usted. ¿Quieres
ponerte en contacto? */
/* Enviame un Correo con tus Preguntas !! */
.section {
  position: relative;
  width: 100%;
  height: 552px;

  background: radial-gradient(rgb(84, 185, 72), rgba(0, 0, 0, 0.5)),
    url(../Img/pared.webp);
  background-blend-mode: multiply;
}
.section::before {
  content: "";
  position: absolute;
  /* width: 500px;
  height: 500px; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: radial-gradient(rgba(255, 0, 0, 0.75), transparent, transparent);
  /* border-radius: 50%; */
}
.phone {
  color: rgb(84, 185, 72);
  font-size: 20px;
}
.mail {
  color: rgb(84, 185, 72);
  font-size: 20px;
}
